.commit-modal__background,
.commit-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.commit-modal__background {
  backdrop-filter: blur(10px);
  z-index: 1;
}

.commit-modal__container {
  z-index: 2;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commit-modal {
  position: relative;
  display: block;
  padding: 3rem;
  border: none;
  border-radius: 3px;
  max-width: 20vw;
}
.commit-modal > * {
  padding: 0.5em 0;
}

.commit-modal > *:first-child {
  padding-top: 0;
}

.commit-modal > *:last-child {
  padding-bottom: 0;
}

.commit-modal__button-array {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  width: 100%;
}

@media only screen and (max-width: 1900px) {
  .commit-modal {
    max-width: 40vw;
  }

  @media only screen and (max-width: 1000px) {
    .commit-modal {
      max-width: 60vw;
    }

    @media only screen and (max-width: 600px) {
      .commit-modal {
        max-width: 90vw;
      }
    }
  }
}
