.main-footer {
    color: whitesmoke;
    background-color: rgb(34, 34, 34);
}

.main-footer__container {
    padding: 35px;
}

.main-footer__content {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: medium;
}

.main-footer__container a {
    font-weight: 550;
    color: white;
}